test-binding-metro/src/main/resources/HelloJavaServiceService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.1 in JDK 6. -->
<definitions targetNamespace="http://wsdl.metro.binding.tests.fabric3.org/" name="HelloJavaServiceService" xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:tns="http://wsdl.metro.binding.tests.fabric3.org/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <types>
        <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://wsdl.metro.binding.tests.fabric3.org/">
            <xsd:element name="hello" type="tns:hello"/>
            <xsd:element name="helloResponse" type="tns:helloResponse"/>

            <xsd:complexType name="hello">
                <xsd:sequence>
                    <xsd:element name="arg0" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="helloResponse">
                <xsd:sequence>
                    <xsd:element name="return" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <!--<element name="request" type="xsd:string"/>-->
            <!--<element name="response" type="xsd:string"/>-->
        </xsd:schema>
    </types>
    <message name="hello">
        <part name="parameters" element="tns:hello"/>
    </message>
    <message name="helloResponse">
        <part name="parameters" element="tns:helloResponse"/>
    </message>
    <portType name="HelloJavaService">
        <operation name="hello">
            <input message="tns:hello"/>
            <output message="tns:helloResponse"/>
        </operation>
    </portType>
    <binding name="HelloJavaServicePortBinding" type="tns:HelloJavaService">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="hello">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="HelloJavaServiceService">
        <port name="HelloJavaServicePort" binding="tns:HelloJavaServicePortBinding">
            <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
        </port>
    </service>
</definitions>

