test-binding-metro/src/main/resources/Upload.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions name="SOAPBuilders-mtom-cr-test"
                  xmlns:types="urn:upload"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="urn:upload"
                  targetNamespace="urn:upload">

    <wsdl:types>
        <schema
                xmlns="http://www.w3.org/2001/XMLSchema"
                targetNamespace="urn:upload"
                xmlns:xmime="http://www.w3.org/2005/05/xmlmime"
                elementFormDefault="qualified">
            <complexType name="uploadType">
                <sequence>
                    <element name="name" type="xsd:string"/>
                    <element name="data" type="base64Binary" xmime:expectedContentTypes="application/octet-stream"/>
                </sequence>
            </complexType>
            <complexType name="uploadResponseType">
                <sequence>
                    <element name="size" type="xsd:int"/>
                </sequence>
            </complexType>
            <element name="upload" type="types:uploadType"/>
            <element name="uploadOut" type="types:uploadResponseType"/>
        </schema>

    </wsdl:types>

    <wsdl:message name="uploadIn">
        <wsdl:part name="data" element="types:upload"/>
    </wsdl:message>

    <wsdl:message name="uploadOut">
        <wsdl:part name="data" element="types:uploadOut"/>
    </wsdl:message>

    <wsdl:portType name="UploadPortType">
        <!-- mtom test -->
        <wsdl:operation name="upload">
            <wsdl:input message="tns:uploadIn"/>
            <wsdl:output message="tns:uploadOut"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="UploadBinding" type="tns:UploadPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="upload">
            <soap:operation soapAction=""/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>

    </wsdl:binding>

    <wsdl:service name="UploadService">
        <wsdl:port name="UploadPort" binding="tns:UploadBinding">
            <soap:address location="ACTUAL_URL"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>    
