test-wsdl/src/test/resources/PojoWeather.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<definitions name="Weather"
             targetNamespace="http://pojo.wsdl.tests.fabric3.org/"
             xmlns:tns="http://pojo.wsdl.tests.fabric3.org/"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">

    <types>
        <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://pojo.wsdl.tests.fabric3.org/">
            <complexType name="weatherRequest">
                <sequence>
                    <element name="city" type="xsd:string"/>
                    <element name="date" type="xsd:date"/>
                </sequence>
            </complexType>
            <complexType name="weatherResponse">
                <sequence>
                    <element name="forecast" type="xsd:string"/>
                    <element name="temperature" type="xsd:double"/>
                </sequence>
            </complexType>
            <complexType name="weatherFault">
                <sequence>
                    <element name="code" type="xsd:string"/>
                    <element name="detail" type="xsd:string"/>
                </sequence>
            </complexType>
            <element name="weatherRequest" type="tns:weatherRequest"/>
            <element name="weatherResponse" type="tns:weatherResponse"/>
            <element name="weatherFault" type="tns:weatherFault"/>
        </xsd:schema>
    </types>

    <message name="weatherRequest">
        <part name="weatherRequest" element="tns:weatherRequest"/>
    </message>

    <message name="weatherResponse">
        <part name="weatherResponse" element="tns:weatherResponse"/>
    </message>

    <message name="weatherFault">
        <part name="weatherFault" element="tns:weatherFault"/>
    </message>

    <portType name="WeatherPortType">
        <operation name="getWeather">
            <input message="tns:weatherRequest"/>
            <output message="tns:weatherResponse"/>
            <fault name="weatherFault" message="tns:weatherFault"/>
        </operation>
    </portType>


</definitions>