test-wsdl/src/test/resources/SingleElementComplexType.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<definitions name="HelloWorld"
             targetNamespace="urn:helloworld:sect"
             xmlns:tns="urn:helloworld:sect" xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">

    <types>
        <xs:schema xmlns:tns="urn:helloworld:sect"
                   xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0"
                   targetNamespace="urn:helloworld:sect">

            <xs:element name="sayHelloRequest" type="tns:sayHelloRequestType"/>
            <xs:complexType name="sayHelloRequestType">
                <xs:sequence>
                    <xs:element name="request" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:element name="sayHelloResponse" type="tns:sayHelloResponseType"/>
            <xs:complexType name="sayHelloResponseType">
                <xs:sequence>
                    <xs:element name="result" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

        </xs:schema>
    </types>

    <message name="sayHello">
        <part name="name" element="tns:sayHelloRequest"/>
    </message>
    <message name="sayHelloResponse">
        <part name="result" element="tns:sayHelloResponse"/>
    </message>

    <portType name="HelloWorldPortType">
        <operation name="sayHello">
            <input message="tns:sayHello"/>
            <output message="tns:sayHelloResponse"/>
        </operation>
    </portType>

    <binding xmlns:ns1="urn:helloworld:sect"
             name="HelloWorldBinding" type="ns1:HelloWorldPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"
                      style="document"/>
        <operation name="sayHello">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>

    <service name="HelloWorldService">
        <port name="HelloBPELPort" binding="tns:HelloWorldBinding">
            <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
        </port>
    </service>

</definitions>