test-wsdl/src/test/resources/SingleElementInlineType.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<definitions name="HelloWorld" targetNamespace="urn:helloworld:seit"
	xmlns:tns="urn:helloworld:seit" xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">

	<types>
		<xs:schema xmlns:tns="urn:helloworld:seit"
			xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0"
			targetNamespace="urn:helloworld:seit">

			<xs:element name="sayHelloRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="request" type="xs:string" />
					</xs:sequence>
				</xs:complexType>
		    </xs:element>

			<xs:element name="sayHelloResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="result" type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>	

		</xs:schema>
	</types>

	<message name="sayHello">
		<part name="name" element="tns:sayHelloRequest" />
	</message>
	<message name="sayHelloResponse">
		<part name="result" element="tns:sayHelloResponse" />
	</message>

	<portType name="HelloWorldPortType">
		<operation name="sayHello">
			<input message="tns:sayHello" />
			<output message="tns:sayHelloResponse" />
		</operation>
	</portType>

	<binding xmlns:ns1="urn:helloworld:seit"
		name="HelloWorldBinding" type="ns1:HelloWorldPortType">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"
			style="document" />
		<operation name="sayHello">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
	</binding>

	<service name="HelloWorldService">
		<port name="HelloBPELPort" binding="tns:HelloWorldBinding">
			<soap:address location="REPLACE_WITH_ACTUAL_URL" />
		</port>
	</service>

</definitions>